@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-white-pitch: #ffffff;
    --color-white: #f8f8f8;
    --color-gray-1: #e5e5ea;
    --color-gray-2: #ced0d3;
    --color-gray-3: #3b3c3e;
    --color-gray-4: #242628;
    --color-black: #09090a;
}

* {
    font-family: "Inter", sans-serif;
}